
// nav{
//   background-color: rgb(255, 255, 255);
//   opacity :0.5;

// }

// nav:hover{
//   background-color: rgb(255, 255, 255);
//   opacity :1!important;

// }



// nav ul li a,p{
//   color:white!important
// }


// .under-line-nav-tabs{
//   border-bottom: 5px solid #b49c73 !important;
// }
// .lang-link{
//   cursor: pointer;
// }

// .logo{
//   width: 50px;
//   // height: 50px
// }



// .navbar-inverse{
//   background-color: white;
//   color: black;
//   ul li a ,p {
//     color: black !important;
//   }
// }


.margin-right-logo{
  margin-right: 50%;
}
.margin-left-logo{
  margin-left: 50%;
}



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}



.pmain{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;


}
.pmain::selection{
  color:#ffc107 ;
}
.booking{
  width:auto;
  height: 40vh;
  background-color: rgba(32,49,82,.63);
}

.mainheader{
  margin-top: 150px;
  background-color: #1f5599;
  width: auto;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.mainheader .maincheck .form-check label+:checked
{


  color: white;
    background-color: white;

    border: 5px solid #FEC524;



}

.carousel-caption .header{


  align-items: center;

  box-sizing: border-box;
  position: relative;
  color: #fff;
  padding: 24px;
  width: 439px;
  height: 240px;
  top: 130px;
  left: 120px;
  border-radius: 12px;

}
